body {
    background: linear-gradient(-65deg, red, orange, gold, #ffec17, gold, lightblue);
    background-size: 100%;
    background-repeat: no-repeat;
    width: max-content;
    height: 97.3vh;
}

/*animation style*/
.weather {
    z-index: 1;
    height: 86vh;
    width: 80vw;
    padding-top: 60px;
    margin-left: 110px;
    margin-right: 30px;
    margin-bottom: 70px;
    box-shadow: 3px 3px 3px 5px darkslategray;
    border-radius: 50px 50px 50px 50px;
    animation: slide 19s infinite;
    opacity: 3;
}

@keyframes slide {
    0% {
        background-image: url(image/sky1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: slide 3s infinite;
    }

    25% {
        background: url(image/5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: slide 3s infinite;

    }

    50% {
        background: url(image/ni3.jpg);
        background-repeat: no-repeat;
        animation: slide 3s infinite;
        background-size: cover;

    }

    75% {
        background-image: url(image/sky1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: slide 3s infinite;
    }

    100% {
        background: url(image/5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        animation: slide 3s infinite;

    }

    125% {
        background: url(image/ni3.jpg);
        background-repeat: no-repeat;
        animation: slide 3s infinite;
        background-size: cover;

    }

}

/*box style*/
.main {
    margin-left: 290px;
    margin-top: 0px;
    width: 100px;
    height: 40px;
}

/*weather style*/
.text input {
    border-radius: 14px 14px 14px 14px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
    color: whitesmoke;
    margin-left: 240px;
    -webkit-text-stroke: 0.1vw black;
    border-radius: 2px solid gray;
    background-color: transparent;
}

.text ::placeholder {
    color: white;

}

.text1 input {
    border-radius: 14px 14px 14px 14px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 14px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 380px;
    color: black;
    border-radius: 2px solid gray;
    background-color: lightsalmon;
}

.text1 input:hover {
    background-color: transparent;

}

.display {
    text-align: center;
    color: yellow;
    padding-top: 10px;
    margin-left: 220px;
    margin-top: 30px;
    -webkit-text-stroke: 0.1vw black;
    font-size: 28px;
    font-weight: bolder;
    background-color: transparent;
    width: 460px;
    height: 330px;
    border-radius: 5rem;
    box-shadow: 33px 43px 63px 10px rgb(10, 1, 10);
}

.display:hover {
    width: 480px;
    height: 340px;
    transition: 1s ease-in-out;
}

.wrapper h2 {

    padding: 5px 0;
    text-align: center;
    font-family: sans-serif;
}

.wrapper p {
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: blue;
    font-size: 30px;
    -webkit-text-stroke: 0.1vw black;
}

.wrapper h2 span {
    color: orangered;
    -webkit-text-stroke: 0.1vw black;
}

.wrapper p span {
    color: lightblue;

}

#description {
    font-size: 30px;
}

#temp {
    font-size: 30px;
}

#wind {
    font-size: 30px;
}

.weather .clock {
    margin-right: 400px;
}

/*clock style*/
.digitalclock {
    margin-bottom: 200px;
    margin-left: 50px;

}

.digitalclock h1 {
    color: orange;
    font-size: 35PX;
    -webkit-text-stroke: 0.1vw black;

}

.digitalclock h1 span {
    color: white;
}

.digitalclock h2 {
    color: white;
    margin-left: 70px;
    font-size: 34px;
}

.digitalclock h2 span {
    color: rgb(236, 236, 154);

}

.clockdate {
    box-shadow: 33px 43px 63px 10px rgb(10, 1, 10);
    width: 300px;
    background: linear-gradient(-65deg, red, orange, gold, #ffec17, gold, lightblue);
    height: 290px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 390px 390px 390px 390px;
}

#clock {
    font-size: 45px;
    font-weight: 600;
    margin-left: 70px;
    padding-top: 70px;
    color: red;
    -webkit-text-stroke: 0.1vw black;
    text-shadow: 0px 0px 1px #333;

}

#date {
    font-size: 26px;
    font-weight: 300;
    margin-left: 50px;
    padding-top: 10px;
    color: black;
    -webkit-text-stroke: 0.1vw black;
    text-shadow: 0px 0px 1px #333;


}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    body {
        background: linear-gradient(-65deg, red, orange, gold, #ffec17, gold, lightblue);
        background-size: 100%;
        background-repeat: no-repeat;
        width: max-content;
        height: 127.3vh;
    }

    .weather {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .main {
        margin-left: 0;
        width: 10%;
    }

    .text input {
        margin-top: 10px;
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .text1 input {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .display {
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 300px;
    }

    .digitalclock {
        margin-left: 20px;
    }

    .display:hover {
        width: 340px;
        height: 280px;
        transition: 1s ease-in-out;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .weather {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .text input {
        margin-left: 25px;
        width: calc(80% - 20px);
    }

    .text1 input {
        margin-left: 120px;
        width: calc(30% - 20px);
    }

    .display {
        margin-left: 10px;
        width: calc(100% - 20px);
        height: 280px;
    }

    #description {
        font-size: 20px;
    }

    #temp {
        font-size: 20px;
    }

    #wind {
        font-size: 20px;
    }

    .wrapper>h2 {
        font-size: 25px;
    }

    .digitalclock>h1 {
        font-size: 25px;
    }

    .digitalclock>h2 {
        font-size: 20px;
    }

    .digitalclock {
        margin-left: 10px;
        margin-top: 430px;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* Media queries for responsive layout */
@media (max-width: 1068px) {
    body {
        background: linear-gradient(-65deg, red, orange, gold, #ffec17, gold, lightblue);
        background-size: 100%;
        background-repeat: no-repeat;
        width: max-content;
        height: 127.3vh;
    }

    .weather {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .main {
        margin-left: 0;
        width: 10%;
    }

    .text input {
        margin-top: 10px;
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .text1 input {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .display {
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 300px;
    }

    .digitalclock {
        margin-left: 20px;
    }

    .display:hover {
        width: 340px;
        height: 280px;
        transition: 1s ease-in-out;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 876px) {
    .weather {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .text input {
        margin-left: 25px;
        width: calc(80% - 20px);
    }

    .text1 input {
        margin-left: 120px;
        width: calc(30% - 20px);
    }

    .display {
        margin-left: 10px;
        width: calc(100% - 20px);
        height: 280px;
    }

    #description {
        font-size: 20px;
    }

    #temp {
        font-size: 20px;
    }

    #wind {
        font-size: 20px;
    }

    .wrapper>h2 {
        font-size: 25px;
    }

    .digitalclock>h1 {
        font-size: 25px;
    }

    .digitalclock>h2 {
        font-size: 20px;
    }

    .digitalclock {
        margin-left: 10px;
        margin-top: 430px;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* Media queries for responsive layout */
@media (max-width: 1268px) {
    body {
        background: linear-gradient(-65deg, red, orange, gold, #ffec17, gold, lightblue);
        background-size: 100%;
        background-repeat: no-repeat;
        width: max-content;
        height: 127.3vh;
    }

    .weather {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .main {
        margin-left: 0;
        width: 10%;
    }

    .text input {
        margin-top: 10px;
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .text1 input {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .display {
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 300px;
    }

    .digitalclock {
        margin-left: 20px;
    }

    .display:hover {
        width: 340px;
        height: 280px;
        transition: 1s ease-in-out;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 1076px) {
    .weather {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .text input {
        margin-left: 25px;
        width: calc(80% - 20px);
    }

    .text1 input {
        margin-left: 120px;
        width: calc(30% - 20px);
    }

    .display {
        margin-left: 10px;
        width: calc(100% - 20px);
        height: 280px;
    }

    #description {
        font-size: 20px;
    }

    #temp {
        font-size: 20px;
    }

    #wind {
        font-size: 20px;
    }

    .wrapper>h2 {
        font-size: 25px;
    }

    .digitalclock>h1 {
        font-size: 25px;
    }

    .digitalclock>h2 {
        font-size: 20px;
    }

    .digitalclock {
        margin-left: 10px;
        margin-top: 430px;
    }

    .clockdate {
        margin-left: 0;
        margin-top: 10px;
    }
}